@charset "utf-8";
@import "reset.css";

body {
	font-size: 75%;	
	font-family: Arial, Helvetica, sans-serif;	
    padding: 0;
	position: relative;
	background-color: #ffffec;

}

a {
	
}

a:hover{
	background-color: #ffff80;
}
	a img {
		border: 0;
	}
a.toplink
{
	font-size: 185%;
	margin-right: 1em;
	font-weight: bold;
	text-decoration: underline;
}
a.toplink#main{
	color: #7E90CF;	
}
a.toplink#items{
	color: #D0426E;	
}
.main
{
	padding: 10px 10px 10px 10px; 
}

form {
	margin: 0;
	padding: 0;
}



h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 10px 0 10px 0;
	padding: 0;
	color: #005f8c;
}

h1 {
	font-size: 170%;
}

.error
{
	font-size: 140%;
	font-weight: bold;
	display: block;
	border: 1px solid #000;
	width: auto;
	background-color: #ffb0b0;
	padding: 10px;
}

.header-userinfo
{
	text-align: right;
	float: right;
}
input.reg {
	width: 150px;
	margin: 5px 0 5px 0;
	font-size: 150%;
}

p {
	margin: 0 0 1em 0;
	padding: 0;
}
/* tables */
table
{
	border: 0;
}
table.show, table.show td {
	border: 1px solid #005f8c;
	padding: 10px;
}
table.show th
{
	background-color: #005f8c;
	color: white;
}

.itemimg {
	overflow: hidden;
	max-height: 100px;
	max-width: 100px;
    border: 1px dashed #444;


}

